* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(/img/Mobile.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.faixa,
.container > img {
  display: none;
}

.card {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative; /*  faz com que o elemento seja o ponto de calculo da posição do elemento absoluto  */
}

.avatar span {
  position: absolute; /*   posicionamento referente ao ponto relativo */
  top: -15px;
  z-index: 1; /* Posição acima do avatar */
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;

  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 74%, 50% 100%, 0 75%, 0 25%); /* Formato da imagem do avatar */
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem; /* espaço entre os icons */

  justify-content: center; /*  */
}

@media (min-width: 720px) {
  /* estilos versão tablet */
}

@media (min-width: 960px) {
  main {
    background: url(/img/Desktop.svg) no-repeat center/cover;
    display: flex;
    justify-content: center;
  }

  .faixa {
    position: absolute;
    z-index: 1;
    display: inline;
  }

  .container {
    width: 358px;
    height: 540px;
    
    margin: auto;
    background: var(--black);
    margin-top: 140px;
  }

  .container > img {
    position: absolute;
    display: inline;
  }

  .card {
    max-width: 358px;
    max-height: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;

    text-align: center;
    color: var(--grey);

    position: relative;
  }
}
